Twisted==19.7.0
Scrapy==1.7.3
scrapy-splash==0.7.2
geopy==1.20.0
geocoder==1.38.1
psutil==5.6.3
pyfcm==1.4.7
pymongo==3.9.0
PyMySQL==0.9.3
requests==2.22.0
babel
fake_useragent
scrapyd
scrapyd-client 
logparser
selenium
herokuify-scrapyd==1.0